  <div class="cover">

    <div class="about-intro content">
      <div class="logo">
        <img src="/images/simpletomake-logo.svg" alt="Simple to Make it">
      </div>
      <div><%
      for ( var i = 0; i < page.introBlocks.length; i++ ) { %>
        <p><%- page.introBlocks[ i ] %></p><%
      } %>
      </div>
    </div>

    <div class="about-sources content">
      <h4><strong>Di cosa sono fatte queste ricette?</strong></h4>
      <div class="card-list">
        <div>
          <span>30%</span>
          <h4>Manuali tecnici</h4>
          <p class="note">Il punto di partenza di queste preparazioni sono spesso i manuali più accreditati, che trovi tra i &ldquo;riferimenti&rdquo; di ogni ricetta</p>
        </div>
        <div>
          <span>30%</span>
          <h4>Articoli e corsi di esperti</h4>
          <p class="note">Per alcuni dettagli non mi sono fidato della tradizione o dei blogger, ma delle ricette usate da tecnici ed esperti: chimici, chef, autoproduttori professionisti</p>
        </div>
        <div>
          <span>40%</span>
          <h4>Esperienza personale</h4>
          <p class="note">Studio e pratico l’autoproduzione dal 2015 con un approccio da &ldquo;nerd&rdquo;: di una ricetta mi chiedo sempre il perché di ogni passaggio</p>
        </div>
      </div>
    </div>

  </div>

  <div class="about-disclaimer">
    <div class="content">
      <div class="cols cols-1-2">
        <h4><strong>Vuoi vendere ciò che hai prodotto?</strong>Non metterti nei guai!</h4>
        <div>
          <p><%= page.disclaimer %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-footer">

    <div class="content about-footer-keyboard touchhide">
      <div class="cols cols-1-2">
        <h4><strong>Nerd delle produzioni casalinghe?</strong>Naviga le ricette da tastiera</h4>
        <div>
          <p><span class="key">TAB</span><span class="note">Apri l'elenco ricette</span></p>
          <p><span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-up"/></svg></span><span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-arrow-down"/></svg></span><span class="key">SPAZIO</span><span class="note">Scorri le sezioni</span></p>
          <p><span class="key">1</span><span class="key">2</span><span class="key">3</span><span class="key">4</span><span class="key">5</span><span class="note">Salta tra sezioni</span></p>
          <p><span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-minus"/></svg></span><span class="key key-icon"><svg class="icon"><use xlink:href="/images/svgdefs.svg#icon-plus"/></svg></span><span class="note">Cambia quantità base</span></p>
        </div>
      </div>
    </div>

    <div class="content about-footer-info">
      <div class="cols cols-1-1-1">
        <div>
          <div class="card">
            <p class="note">Ideato e realizzato da <a href="https://zenoid.it" target="_blank" tabindex="-1">ZENOID / digital craftsman</a></p>
            <p class="note">Illustrazioni di copertina di <a href="https://graphicdna.it" target="_blank" tabindex="-1">GraphicDNA</a></p>
          </div>
        </div>
        <div>
          <div class="card">
            <p>Sorgenti disponibili su <a href="https://github.com/zenoid/simpletomake" target="_blank" tabindex="-1">Github</a></p>
            <p class="note">Sei libero di (ri)utilizzare i sorgenti di questo sito nel rispetto della licenza <a href="https://choosealicense.com/licenses/gpl-3.0/" target="_blank" tabindex="-1">GNU General Public License 3.0</a></p>
          </div>
        </div>
        <div>
          <div class="card">
            <p><strong>Simple To Make It</strong> è un progetto senza scopo di lucro.</p>
            <p>Su questo sito non viene utilizzato nessun coookie, e vengono raccolti solo dati anonimizzati.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>