


/*                      BUTTONS
------------------------------------------------------------------------- */

.btn {
  @include resetButton;
  border: none;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  font-family: $font;
  font-size: 0.75rem;
  padding: 0 0.75em;
  line-height: $btn-height;
  text-align: center;
  white-space: nowrap;
  color: var( --color-white );
  background: none;
  @include transition( all, $transition-hover );
}

.btn-icon {
  @include resetButton;
  padding: 0;
  border: none;
  display: inline-block;
  height: $btn-height;
  cursor: pointer;
  background: none;
  @include transition( all, $transition-hover );
  color: var( --color-white );

  .icon {
    stroke: currentColor;
  }

  span {
    display: inline-block;
    line-height: $btn-height;
    vertical-align: top;
    font-size: 0.9rem;
    color: currentColor;
  }

  &:disabled {
    cursor: auto;
    opacity: 0.3;
  }
}

.btn-main {
  max-width: 100%;
  line-height: 2.25em;
  font-size: 1.25rem;
  color: var( --color-dark );
  background-color: var( --color-white );

  span {
    font-size: 0.8em;
    line-height: 1;
    color: var( --color-gray );
    @include transition( all, $transition-hover );
  }

  &.btn-main-small {
    font-size: 0.9rem;
  }

  @media only screen and (max-width: $size-XXS) {
    display: block;
  }
}

li .btn-main {
  margin-bottom: 2px;
}

.icon {
  stroke: var( --color-white );
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  @include transition( stroke, $transition-hover );
}

.about-footer-info a {
  display: inline-block;
  padding: 0.2em 0.4em;
  border: 1px solid var( --color-tag );
  border-radius: 4px;
  @include transition( all, $transition-hover );
}

.breadcrumb {
  display: inline-block;
  line-height: $btn-height;
  font-size: 0.9rem;
  opacity: 0.4;
  @include transition( opacity, $transition-hover );

  .icon {
    width: 0.75rem;
  }
}

body:not(.touch) {

  .btn-icon:not(:disabled):hover {
    color: var( --color-hilite );
  }

  .btn-main:focus,
  .btn-main:hover {
    background-color: var( --color-dark ) !important;
    color: var( --color-white );

    span {
      color: var( --color-white );
    }
  }

  .about-footer-info a:hover {
    background-color: var( --color-tag );
  }

  .breadcrumb:hover {
    opacity: 1;
  }
}


