


/*                      BODY
------------------------------------------------------------------------- */

html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  overflow: hidden;
  height: 100%;

  @media only screen and (max-width: $size-XXS) {
    overflow: auto;

    .main {
      overflow: hidden;
      height: 100%;
      padding-bottom: 2.5rem;
    }
  }
}



/*                      SHOW/HIDE ON MOBILE
------------------------------------------------------------------------- */

.mobileshow {
  display: none;
}

@media only screen and (max-width: $size-XXS) {

  .mobileshow {
    display: block;
  }

  .mobilehide {
    display: none;
  }
}

body.touch {
  .touchhide {
    display: none;
  }
}



/*                      MAIN CONTAINERS
------------------------------------------------------------------------- */

.cover {
  background: var( --color-main1 );
  background: linear-gradient( 175deg, var( --color-main1 ), var( --color-main2 ), var( --color-main3 ), var( --color-main4 ), var( --color-main5 ) );
  color: var( --color-white );
}

.main {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  position: relative;
}

.content {
  max-width: $layoutwidth;
  margin: auto;
  text-align: left;
  padding: 2rem 3rem;

  @media only screen and (max-width: $size-XXS) {
    padding: 0 1.5rem;
  }
}

.row + .row {
  margin-top: 1.5rem;
}

.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2px;
  row-gap: 2px;
  width: 100%;

  @media only screen and (max-width: $size-S) {
    grid-template-columns: 1fr !important;
  }
}

.cols {
  display: grid;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 100%;

  @media only screen and (max-width: $size-S) {
    grid-template-columns: 1fr !important;
  }
}

.cols-2-1 {
  grid-template-columns: 2fr 1fr;
}

.cols-1-2 {
  grid-template-columns: 1fr 2fr;
}

.cols-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.menucloud {
  @include flex;
  @include flexWrap;
  @include flexBottom;

  li {
    --btnsize: 1rem;
    margin: 0 0.75rem 0.75rem 0;

    .btn-main {
      font-size: var( --btnsize );
      margin-bottom: 0;
    }

    @media only screen and (max-width: $size-XS) {
      margin: 0 0.5rem 0.5rem 0;
    }

    @media only screen and (max-width: $size-XXS) {
      width: 100%;
      margin: 0 0 2px 0;
    }
  }
}


