


/*                      TOOLTIPS
------------------------------------------------------------------------- */

.tooltip {
  position: absolute;
  z-index: $zindex-overlay;
  background-color: var( --color-dark );
  color: var( --color-white );
  font-size: 0.9rem;
  line-height: 2rem;
  padding: 0 0.75rem;
  text-align: left;
  border-radius: 4px;
  @include transition( background-color, $transition-slide );
  pointer-events: none;

  @media only screen and (max-width: $size-XXS) {
    display: none;
  }
}


